footer{background-color: blueviolet;}
header{display: flex; justify-content: center; align-items: flex-end; width: 912px; height: 265.6px;}
h1{color: white; margin: 0%;}
h2{color: white;}
h3{color: black;}
h4{color: white;}
main{padding-top: 15%;}

.ul
{
    display: flex;
    justify-content: flex-end;

}
.logo
{
    display: flex;
    align-self: flex-start;
}
.menu
{
    background-color: black;
    padding-bottom: 5%;
}
.intro
{
    display: flex;
    background-image: url(../img/bg.jpg);
    padding-bottom: 25%;
}